@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#title {
  font-family: "Gill Sans", monospace;
  font-size: 20pt;
  line-height: 1.5;
  color: #333;
  margin-bottom: 15px;
}

#td_label,
#td_label2 {
  font-family: "Space Mono", monospace;
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin: auto;
  color: #111;
  padding: 0px 10px;
  font-size: 13pt;
  cursor: pointer;
  pointer-events: none;
}

#td_label {
  border: 1px solid black;
}

#td_label2 {
  background-color: black;
  padding: 0px 0px;
}

hr {
  width: 10em;
  height: 2px;
  background-color: #333;
  color: #0000;
  border-style: none;
  margin: 20px;
  /* border-radius: ; */
}

a {
  position: relative;
  font-family: "Space Mono", monospace;
  color: #111;
  padding: 10px 0px;
  font-size: 13pt;
  /* padding-left: 0; */
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}

a:hover::after,
a:focus::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(153, 0, 229);
}
a:hover > span:first-of-type,
a:focus > span:first-of-type {
  color: rgb(153, 0, 229);
}

a:focus {
  outline: 0;
}

a:last-child {
  margin-bottom: 100px;
}

#sidepanel {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-left: 50px;
  height: 100%;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.hidden {
  display: none;
}

canvas {
  position: fixed;
}

.listitem {
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

p {
  color: #888;
  font-size: 13pt;
  font-family: monospace;
}

#subscribe {
  font-family: "Space Mono", monospace;
  color: #111;
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 13pt;
}

.aboutbox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.aboutbox > div {
  max-width: 700px;
}

.aboutbox > div > p {
  color: black !important;
}

#about {
  font-family: "Space Mono", monospace;
  color: #111;
  font-size: 13pt;
}
